<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!-- Managed weekday refresh for display-only research views. -->
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.carsyn.options-validator.research-display-refresh</string>
  <key>ProgramArguments</key>
  <array>
    <string>/bin/zsh</string>
    <string>/Users/carsynstephenson/options-validator-ops/tools/research_display_refresh.sh</string>
  </array>
  <key>WorkingDirectory</key>
  <string>/Users/carsynstephenson/options-validator-ops</string>
  <key>EnvironmentVariables</key>
  <dict>
    <key>TZ</key>
    <string>America/New_York</string>
  </dict>
  <key>StartCalendarInterval</key>
  <array>
    <dict><key>Weekday</key><integer>1</integer><key>Hour</key><integer>7</integer><key>Minute</key><integer>30</integer></dict>
    <dict><key>Weekday</key><integer>2</integer><key>Hour</key><integer>7</integer><key>Minute</key><integer>30</integer></dict>
    <dict><key>Weekday</key><integer>3</integer><key>Hour</key><integer>7</integer><key>Minute</key><integer>30</integer></dict>
    <dict><key>Weekday</key><integer>4</integer><key>Hour</key><integer>7</integer><key>Minute</key><integer>30</integer></dict>
    <dict><key>Weekday</key><integer>5</integer><key>Hour</key><integer>7</integer><key>Minute</key><integer>30</integer></dict>
  </array>
  <key>RunAtLoad</key>
  <true/>
  <key>StandardOutPath</key>
  <string>/Users/carsynstephenson/options-validator-ops/.tmp/research_views/research-display-refresh.out.log</string>
  <key>StandardErrorPath</key>
  <string>/Users/carsynstephenson/options-validator-ops/.tmp/research_views/research-display-refresh.err.log</string>
</dict>
</plist>
