<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>com.carsyn.options-validator.repo-rag-health</string>
	<key>ProgramArguments</key>
	<array>
		<string>/bin/bash</string>
		<string>/Users/carsynstephenson/options-validator/scripts/run_repo_rag_health.sh</string>
	</array>
	<key>RunAtLoad</key>
	<false/>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>40</integer>
			<key>Weekday</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>Hour</key>
			<integer>9</integer>
			<key>Minute</key>
			<integer>40</integer>
			<key>Weekday</key>
			<integer>3</integer>
		</dict>
	</array>
	<key>WorkingDirectory</key>
	<string>/Users/carsynstephenson/options-validator</string>
</dict>
</plist>
